@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Kiwi Maru", serif;
}

@keyframes growImage {
  from {
    width: 40%;
    height: 52%;
    left: 0;
    bottom: 0;
    border-radius: 0.5rem;
  }
  to {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }
}

.image-enter {
  animation: growImage 0.5s linear forwards;
}

.image-exit {
  animation: growImage 0.5s linear reverse forwards;
}

/* Untuk browser berbasis WebKit seperti Chrome, Safari, dan Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Untuk Firefox */
.scrollbar-hide {
  scrollbar-width: none; /* Menghilangkan scrollbar di Firefox */
}
